body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://www.teahub.io/photos/full/12-124678_rick-and-morty-background-no6-by-jurokoo-data.jpg');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  color:white;
}

